In [1]:
import pandas as pd
import numpy as np
import scipy.stats as ss

In [2]:
# load the data

df = pd.read_csv('student3-5_recoded.csv')

In [4]:
# look at the data
df.head()

,Unnamed: 0,ClientName,ClientName_1,SchoolName,SchoolID,UniqueResponseID,SurveyType,ResponseLanguage,ResponseStartTime,ResponseDuration(minutes),...,QT5_62,QT5_63,QT5_64,SOCFFEJ,race,gender,AAM,SPED,English_speaking,Grade
0,1,Seattle (WA),Seattle Public Schools,Cascade Parent Partnership,945,60132424,Online,en,2020-10-17T21:49:51+00:00,2.757033,...,NaN,NaN,NaN,NaN,NaN,Female,NaN,non-SPED,English,NaN
1,2,Seattle (WA),Seattle Public Schools,Cascade Parent Partnership,945,60132759,Online,en,2020-10-18T01:00:38+00:00,7.541550,...,NaN,NaN,NaN,NaN,NaN,Female,NaN,NaN,English,High
2,3,Seattle (WA),Seattle Public Schools,Stevens Elementary,272,60200632,Online,en,2020-10-19T15:36:33+00:00,4.488667,...,NaN,NaN,NaN,non_SOCFFEJ,White,Male,NaN,NaN,NaN,NaN
3,4,Seattle (WA),Seattle Public Schools,Stevens Elementary,272,60200645,Online,en,2020-10-19T15:36:47+00:00,4.441950,...,NaN,NaN,NaN,non_SOCFFEJ,White,Female,NaN,NaN,English,NaN
4,5,Seattle (WA),Seattle Public Schools,Stevens Elementary,272,60200951,Online,en,2020-10-19T15:36:59+00:00,5.078833,...,NaN,NaN,NaN,non_SOCFFEJ,White,Male,NaN,non-SPED,English,High

In [9]:
df.columns

Index(['Unnamed: 0', 'ClientName', 'ClientName_1', 'SchoolName', 'SchoolID',
       'UniqueResponseID', 'SurveyType', 'ResponseLanguage',
       'ResponseStartTime', 'ResponseDuration(minutes)', 'QT1_1', 'QT1_2',
       'QT2_3', 'QT2_4', 'QT2_5', 'QT2_6', 'QT2_7', 'QT2_8', 'QT3_9', 'QT3_10',
       'QT3_11', 'QT3_12', 'QT3_13', 'QT3_14', 'QT3_15', 'QT3_16', 'QT3_17',
       'QT3_18', 'QT3_19', 'QT3_20', 'QT3_21', 'QT4_22', 'QT4_23', 'QT4_24',
       'QT4_25', 'QT4_26', 'QT4_27', 'QT4_28', 'QT4_29', 'QT4_30', 'QT4_31',
       'QT4_32', 'QT4_33', 'QT4_34', 'QT4_35', 'QT4_36', 'QT4_37', 'QT4_38',
       'QT4_39', 'QT4_40', 'QT4_41', 'QT4_42', 'QT4_43', 'QT4_44', 'QT4_45',
       'QT4_46', 'QT4_47', 'QT4_48', 'QT4_49', 'QT4_50', 'QT4_51', 'QT4_52',
       'QT4_53', 'QT4_54', 'QT4_55', 'QT4_56', 'QT4_57', 'QT4_58', 'QT5_59',
       'QT5_60', 'QT5_61', 'QT5_62', 'QT5_63', 'QT5_64', 'SOCFFEJ', 'race',
       'gender', 'AAM', 'SPED', 'English_speaking', 'Grade'],
      dtype='object')

In [12]:
# The DV are QT2 ~ QT3, IV are gender, English, SOCFFEJ, SPED, LGBTQ.
# Extract the columns
df_ = df[['UniqueResponseID', 'QT1_2','QT2_3', 'gender', 'SPED', 'English_speaking','SOCFFEJ']]

In [14]:
df_.head()

,UniqueResponseID,QT1_2,QT2_3,gender,SPED,English_speaking,SOCFFEJ
0,60132424,2.0,0.0,Female,non-SPED,English,NaN
1,60132759,2.0,0.0,Female,NaN,English,NaN
2,60200632,2.0,1.0,Male,NaN,NaN,non_SOCFFEJ
3,60200645,NaN,2.0,Female,NaN,English,non_SOCFFEJ
4,60200951,2.0,1.0,Male,non-SPED,English,non_SOCFFEJ